name: Flask CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'

    - name: Проверка requirements
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Без ошибок
      run: |
        pytest --html=report.html --self-contained-html
        
    - name: Отчет аплоад
      uses: actions/upload-artifact@v4
      with:
        name: html-report
        path: report.html